/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-brand: #819b57;
  --color-primary-dark: #31261a;
  --color-primary-lith: #faf4ea;
  --color-barnd-dark: #465929;
  --color-secondary-dark: #a18268;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-lith);
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  color: var(--color-primary-lith);
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
}

.link {
  color: var(--color-primary-lith);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand);
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.hero-section {
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/heroBG.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-lith);
  text-align: center;
  font-size: 128px;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand);
}

.adventages-section {
  padding: 16px 0;
  background-color: var(--color-brand);
}

.adventages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.adventages-item {
  color: var(--color-primary-lith);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-barnd-dark);
}

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 680px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text span {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-image {
  border-radius: 400px 400px 0px 0px;
}

.limited {
  max-width: 340px;
}

.upper {
  text-transform: uppercase;
}

.chefs-title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
}

.chefs-titles {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-title::after,
.chefs-title::before {
  position: absolute;
  bottom: 24px;
  display: block;
  width: 352px;
  height: 2px;
  background: #cfcfbc;
  content: '';
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.chef-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-lith),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.formats-title {
  text-align: center;
  margin-bottom: 80px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-text {
  width: 300px;
  color: var(--color-primary-lith);
  font-size: 14px;
  font-weight: 300;
}

.format-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.format-item {
  flex-basis: calc((100%-40) / 3);
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  padding: 24px;
  border: 1px solid #31261a;
  border-radius: 16px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-titles {
  color: var(--color-primary-lith);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.carousel-buuton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  fill: var(--color-primary-dark);
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
}

.carousel-buuton:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-lith);
}

.next {
  transform: rotate(180deg);
}

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-text {
  margin-top: 0;
  margin-bottom: 42px;
  color: var(--color-barnd-dark);
  font-size: 18px;
  font-weight: 400;
}

.contact-form .input {
  margin-bottom: 24px;
}

.contact-form .form-button {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footerBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}

.footer-address {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
}

.address-menu {
  flex-grow: 1;
}

/* .address-info {
  flex-grow: 1;
} */

.address-link {
  text-decoration: none;
  color: var(--color-primary-lith);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand);
  font-weight: 600;
}

.address-icon {
  fill: var(--color-primary-lith);
}

.address-icon:hover {
  fill: var(--color-brand);
}

.address-copyriht {
  color: #a18268;
  font-size: 14px;
}

.footer::before {
  width: 180px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background-image: url(../images/decor-bread-small.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer::after {
  width: 380px;
  height: 190px;
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url(../images/decor-bread-lirge.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity 300ms ease-in;
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 38, 26, 0.4);
}

.backdrop:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 880px;
  height: 880px;
  background-color: var(--color-primary-lith);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-bread {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Form */

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.form-text {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--color-barnd-dark);
  font-size: 18px;
  font-weight: 400;
}

.input {
  background-color: transparent;
  padding: 16px 42px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-secondary-dark);
}

.input::placeholder {
  color: var(--color-secondary-dark);
}

.input:hover,
.input:active,
.input:focus {
  outline: none;
  border-color: var(--color-brand);
}

.input:hover::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  color: var(--color-primary-lith);
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
  margin-bottom: 24px;
}

.form-button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.form-desc,
.form-desc-link {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.form-desc-link {
  text-underline-offset: 2px;
  color: var(--color-primary-dark);
}
