/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-brand: #819b57;
  --color-primary-dark: #31261a;
  --color-primary-lith: #faf4ea;
  --color-barnd-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-adven-grey: #CFCFBC;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-lith);
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 16px;
    font-weight: 300;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (max-width: 1280px) {
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.section__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
}
@media screen and (max-width: 1280px) {
  .section__title {
    font-size: 32px;
  }
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  background-color: var(--color-primary-lith);
  padding: 16px 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 1s;
}

.modal-menu:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform 1s;
}

.modal-menu__logo {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.modal-menu__logo-span {
  font-weight: 700;
}

.modal-menu__item {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.modal-menu__item:hover {
  color: var(--color-brand);
}

.button {
  color: var(--color-primary-lith);
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
}

.link {
  color: var(--color-primary-lith);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand);
}

.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .header {
    top: 16px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header__menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .header__menu {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--color-primary-lith);
  padding: 0;
}
@media screen and (max-width: 1280px) {
  .header__burger {
    display: block;
  }
}

.hero-section {
  background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/heroBG.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 272px 0;
}
@media screen and (max-width: 1280px) {
  .hero-section {
    padding-top: 124px;
    padding-bottom: 32px;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/heroBG@2x.jpg);
  }
}
.hero-section__title {
  color: var(--color-primary-lith);
  text-align: center;
  font-size: 128px;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (max-width: 1280px) {
  .hero-section__title {
    font-size: 67px;
    line-height: 1;
  }
}
.hero-section .header__button {
  display: none;
}
@media screen and (max-width: 1280px) {
  .hero-section .header__button {
    display: block;
  }
}

.adventages-section {
  padding: 16px 0;
  background-color: var(--color-brand);
}
@media screen and (max-width: 1280px) {
  .adventages-section {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: var(--color-primary-lith);
  }
}
.adventages-section__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1280px) {
  .adventages-section__list {
    background-color: var(--color-adven-grey);
    border-radius: 24px;
    padding: 24px 40px;
    color: var(--color-primary-dark);
    flex-direction: column;
    gap: 16px;
  }
}
.adventages-section__item {
  color: var(--color-primary-lith);
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 1280px) {
  .adventages-section__item {
    color: var(--color-primary-dark);
    font-size: 14px;
  }
}

.traditions-section {
  padding-top: 96px;
}
.traditions-section__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-section__content {
  max-width: 680px;
}
.traditions-section__title {
  margin-bottom: 42px;
}
@media screen and (max-width: 1280px) {
  .traditions-section__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
.traditions-section__image {
  border-radius: 400px 400px 0px 0px;
}
@media screen and (max-width: 768px) {
  .traditions-section__image {
    display: none;
  }
}
.traditions-section .limited {
  max-width: 360px;
  margin-bottom: 0;
}
@media screen and (max-width: 1280px) {
  .traditions-section {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

.chefs-section__title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .chefs-section__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
.chefs-section__title::after, .chefs-section__title::before {
  position: absolute;
  bottom: 24px;
  display: block;
  width: 352px;
  height: 2px;
  background: #cfcfbc;
  content: "";
}
@media screen and (max-width: 1280px) {
  .chefs-section__title::after, .chefs-section__title::before {
    display: none;
  }
}
.chefs-section__title::before {
  left: 0;
}
.chefs-section__title::after {
  right: 0;
}
.chefs-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}
@media screen and (max-width: 1280px) {
  .chefs-section__list {
    gap: 20px;
    flex-direction: column;
  }
}
.chefs-section__item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.chef-card__titles {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .chef-card__titles {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.chef-card__text {
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .chef-card__text {
    margin-bottom: 16px;
  }
}
.chef-card__text:last-child {
  margin-bottom: 0;
}
.chef-card__image {
  width: 240px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-lith), -16px 16px 0 2px var(--color-secondary-dark);
}
@media screen and (max-width: 768px) {
  .chef-card__image {
    width: 140px;
    box-shadow: -10px 10px 0 0 var(--color-primary-lith), -10px 10px 0 2px var(--color-secondary-dark);
  }
}

.formats-section__title {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 1280px) {
  .formats-section__title {
    margin-bottom: 24px;
  }
}
.formats-section__slider {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-section__list {
  margin-bottom: 32px;
}
.formats-section__container {
  overflow: hidden;
}
.formats-section__item {
  flex-basis: calc((100% - 40px) / 3);
}
.formats-section__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .formats-section__button {
    display: flex;
  }
}

.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
  padding: 24px;
  border-radius: 16px;
  transition: transform 0.3s;
}

.format-card__text p {
  width: 300px;
  color: var(--color-primary-lith);
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-card__titles {
  color: var(--color-primary-lith);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.carousel-buuton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  fill: var(--color-primary-dark);
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
}
@media screen and (max-width: 768px) {
  .carousel-buuton {
    display: none;
  }
}

.carousel-buuton:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-lith);
}

.next {
  transform: rotate(180deg);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
}
.pagination__button--active {
  background-color: var(--color-brand);
}

.contact-section {
  padding-bottom: 96px;
}
@media screen and (max-width: 1280px) {
  .contact-section {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .contact-section {
    padding-bottom: 0;
  }
}
.contact-section__container {
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .contact-section__container {
    flex-direction: column;
  }
}
.contact-section__title {
  margin-bottom: 16px;
}
@media screen and (max-width: 1280px) {
  .contact-section__title {
    padding-bottom: 8px;
  }
}
.contact-section__text {
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1280px) {
  .contact-section__text {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 300;
  }
}
.contact-section__form .input {
  margin-bottom: 24px;
}
@media screen and (max-width: 1280px) {
  .contact-section__form .input {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 768px) {
  .contact-section__form .input {
    padding: 8px 24px;
  }
}
.contact-section__form .form-button {
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .contact-section__form .form-button {
    padding: 16px 24px;
  }
}
.contact-section__map {
  flex-shrink: 0;
  width: 603px;
  height: 595px;
  border-radius: 16px;
}
@media screen and (max-width: 1280px) {
  .contact-section__map {
    flex-shrink: 1;
  }
}
@media screen and (max-width: 768px) {
  .contact-section__map {
    height: 176px;
    width: auto;
    margin: 0 -24px;
    border-radius: 0;
  }
}

.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footerBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}
.footer__container {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__nav {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  flex-grow: 1;
}
.footer__menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .footer__menu {
    align-items: center;
  }
}

.footer-address {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
}
@media screen and (max-width: 768px) {
  .footer-address {
    flex-direction: column;
  }
}
.footer-address__menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .footer-address__menu {
    align-items: center;
  }
}
.footer-address__link {
  text-decoration: none;
  color: var(--color-primary-lith);
  font-size: 16px;
  font-weight: 300;
}
.footer-address__link:hover {
  color: var(--color-brand);
}
.footer-address__social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}
.footer-address__icon {
  fill: var(--color-primary-lith);
}
.footer-address__icon:hover {
  fill: var(--color-brand);
}
.footer-address__copyriht {
  color: #a18268;
  font-size: 14px;
}
.footer-address__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .footer-address__info {
    align-items: center;
  }
}

.footer::before {
  width: 180px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-image: url(../images/decor-bread-small.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .footer::before {
    width: 92.288px;
    height: 196.664px;
    bottom: 260px;
    background-image: url(../images/decor-bread-lirge2.png);
  }
}

.footer::after {
  width: 380px;
  height: 190px;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url(../images/decor-bread-lirge.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .footer::after {
    width: 111.897px;
    height: 120.825px;
    background-image: url(../images/decor-bread-small2.png);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity 300ms ease-in;
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 38, 26, 0.4);
}

.backdrop:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 880px;
  height: 880px;
  background-color: var(--color-primary-lith);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .modal {
    padding: 28px;
  }
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-bread {
  position: absolute;
  right: 0;
  bottom: 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .form-title {
    font-size: 32px;
  }
}

.form-text {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--color-barnd-dark);
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .form-text {
    font-size: 16px;
  }
}

.input {
  background-color: transparent;
  padding: 16px 42px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-secondary-dark);
}

.input::-moz-placeholder {
  color: var(--color-secondary-dark);
}

.input::placeholder {
  color: var(--color-secondary-dark);
}

.input:hover,
.input:active,
.input:focus {
  outline: none;
  border-color: var(--color-brand);
}

.input:hover::-moz-placeholder {
  color: var(--color-primary-dark);
}

.input:hover::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  color: var(--color-primary-lith);
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
  margin-bottom: 24px;
}

.form-button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.form-desc,
.form-desc-link {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.form-desc-link {
  text-underline-offset: 2px;
  color: var(--color-primary-dark);
}

.text-brand {
  color: var(--color-brand);
}

.text-brand-dark {
  color: var(--color-barnd-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */