:root {
  --color-brand: #819b57;
  --color-primary-dark: #31261a;
  --color-primary-lith: #faf4ea;
  --color-barnd-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-adven-grey: #CFCFBC;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;