.button {
  color: var(--color-primary-lith);
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
}