.chefs-section {
  &__title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;

    @media screen and (max-width: $bp-desktop) {
      font-size: 32px;
      margin-bottom: 24px;
    }

    &::after,
    &::before {
      position: absolute;
      bottom: 24px;
      display: block;
      width: 352px;
      height: 2px;
      background: #cfcfbc;
      content: '';

      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;

    @media screen and (max-width: $bp-desktop) {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
