.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 42px;
    font-size: 18px;
    font-weight: 400;
  }

  &__form .input {
    margin-bottom: 24px;
  }

  &__form .form-button {
    margin-bottom: 16px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }
}
