.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footerBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  &__container {
    display: flex;
    gap: 20px;
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
    flex-basis: 50%;
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media screen and (max-width: $bp-tablet) {
      align-items: center;
    }
  }
}

.footer-address {
  display: flex;
  gap: 20px;
  flex-basis: 50%;

  @media screen and (max-width: $bp-tablet) {
    flex-direction: column;
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media screen and (max-width: $bp-tablet) {
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary-lith);
    font-size: 16px;
    font-weight: 300;
  }

  &__link:hover {
    color: var(--color-brand);
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
  }
  &__icon {
    fill: var(--color-primary-lith);
  }

  &__icon:hover {
    fill: var(--color-brand);
  }

  &__copyriht {
    color: #a18268;
    font-size: 14px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media screen and (max-width: $bp-tablet) {
      align-items: center;
    }
  }
}

.footer::before {
  width: 180px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background-image: url(../images/decor-bread-small.png);
  background-size: 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: $bp-tablet) {
    width: 92.288px;
    height: 196.664px;
    bottom: 260px;
    background-image: url(../images/decor-bread-lirge2.png);
  }
}

.footer::after {
  width: 380px;
  height: 190px;
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url(../images/decor-bread-lirge.png);
  background-size: 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: $bp-tablet) {
    width: 111.897px;
    height: 120.825px;
    background-image: url(../images/decor-bread-small2.png);
  }
}
